* {
   padding: 0;
   border: 0;
   margin: 0;
   }

#title {
   padding: 14px 16px;
   color: white;
   background-color: black;
   font-family: 'Oswald', sans-serif;
   display: inline-block;
   width: 97.6%;
}

#brnd {
   float: left;
}

a {
   text-decoration: none;
   color: white;
   float: right;
   font-size: 24px;
   padding-left: 30px;
}

#home {
   text-align: center;
}
